---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
    <nav>
      <ul>
        <li><HeaderLink href="index.html">{SITE_TITLE}</HeaderLink></li>
      </ul>
    </nav>
</header>