---
export interface Props {
  content: string;
}

const { content } = Astro.props;
---

<div class="right">
  <button class="btn green">Mostrar Solucion</button>
</div>
<div class="show" style="display: none;">
  <pre><code class="language-js">{content}</code></pre>
</div>
